
{% extends 'base.html' %}

{% block content %}
<form action="ajax" method="get">
    {% csrf_token %}
    <label>日付：<input type="text" size="20" name="date"></label>
    <input type="submit" value="送信">
</form>

<div class="chartArea">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>

<script>

//グラフのデータ処理
var endpoint = 'api/data'
var defaultData = []
var labels = []
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.temp
        //console.log(labels)
        setChart()

    },
    error: function(error_data){
        console.log("error")
    }
})
function setChart(){
    var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type:"line",
            data: {
                labels: labels,
                datasets: [{
                    label: '室温',
                    data: defaultData,
                backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
            }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
}    

//フォームのボタン処理
$("form").submit( function(event) {
    event.preventDefault();
    var form = $(this);
    $.ajax({
        url: form.prop("action"),
        method: form.prop("method"),
        data: form.serialize(),
        timeout: 10000,
        dataType: "text",
    })
    .done( function(data) {
        //$("#id_div_ajax_response").text(data);
        //$("#id_div_ajax_response").html(
            //"<h1>hello world</h1>"
            //);
    })
});
</script>
{% endblock %}
